$glassBorderRadius: 15px;
$borderColor: rgba(255, 255, 255, 0.35);
$transparentWhiteColor: rgba(255, 255, 255, 0.25);
$placeholderColor: rgba(0, 0, 0, 0.5);

:export {
  blueColor: #04b3eb;
  greenColor: #56ea8a;
  mainGradient: linear-gradient(to right, #04b3eb, #56ea8a);
  dangerColor: #ff0505;
  borderColor: $borderColor;
  transparentWhiteColor: $transparentWhiteColor;
  placeholderColor: $placeholderColor;
  

  glassBorderRadius: $glassBorderRadius;
}
